---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-background: #f2f2f2;

// Width of the content area
$content-width:    1080px;

$mobile: 480px;
$tablet-min: 481px;
$tablet-max: 767px;
$desktop-min: 768px;
$desktop-max: 1079px;
$large-min: 1080px;

body {
	margin: 0;
	padding: 0;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
		"flexslider",
        "base"
;
