---
layout: default
---

<div class="SocialInnovation--Infographic">
  <div class="fade-me-out loader">
    <img src="{{ '/images/ajax-loader.gif' | prepend: site.baseurl }}">
  </div>
  <div class="wrapper fade-me-in">
    <div class="Carousel--Outer">
      <div id="carousel" class="flexslider">
        <ul class="slides">
          {% for slide in site.slides %}
          <li>
            {% include preview.html %}
          </li>
          {% endfor %}
        </ul>
      </div> <!-- /#carousel -->
    </div>


    <div id="slider" class="flexslider">

      <ul class="slides">
        {% for slide in site.slides %}
          <li id="slide-slider-{{ forloop.index }}" data-loop-index="{{forloop.index}}">
            {% include slide.html %}
          </li>
        {% endfor %}
      </ul>

    </div> <!-- /#slider -->

    <div id="slider-meta-wrapper">
      <span id="slide-counter">
        <span class="current">1</span>/<span class="total">{{site.slides.size}}</span>
      </span>

      <span class="options-button">
        <a href="{{ '/images/ebay_si_pginfographic_full_042815.pdf' | prepend: site.baseurl }}" download id="SI--Download-Button"><img src="images/download-icon.svg" class="svg" width="18" height="18"></a>&nbsp;
        <a href="javascript:void(0);" id="SI--Share-Button" 
        class="st_sharethis_custom"
        displaytext="ShareThis"
        st_image="http://bit.ly/1yUCSEH"
        st_summary="{{ site.description }}"
        st_title="{{ site.title }}"
        st_url="{{ site.baseurl | prepend: site.url }}"><img src="images/share-icon.svg" class="svg" width="18" height="18"></a>
      </span>
    </div>

  </div>

</div>