.SocialInnovation--Infographic {

    .fade-me-in {
        opacity: 0;
    }

    .loader {
        text-align: center;
        padding-top: 20px;
    }

    background-color: $base-background;
    position: relative;

    overflow: hidden;

    padding-top: 30px;
    padding-bottom: 50px;

    .Carousel--Outer {
        overflow: hidden !important;

        padding-bottom: 20px;
        .flex-viewport {

            overflow: visible !important;
        }
    }


    #carousel {
        .flex-direction-nav a {
            border-top-width: 19px;
            border-bottom-width: 19px;
            margin-top: -39px;
            border-color: #f2f2f2;
            background-color: #f2f2f2;
            border-style: solid;
        }
        .flex-direction-nav .flex-prev {
            left: -460px !important;
        }

        .flex-direction-nav .flex-next {
            right: -460px !important;
        }
    }

    .wrapper {
        
        margin: 0 auto;

        @media (min-width: $large-min) {
            width: $content-width;
        }
    }

    .flexslider {
        margin: 0 0 48px;

        .flex-direction-nav a {
            width: 25px;
            height: 25px;
            @media (min-width: $large-min) {
                width: 40px;
                height: 40px;
            }
        }
        
        a.flex-next,
        a.flex-prev {
            &:before {
                content: none;
            }
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
            
            opacity: 1 !important; 

            &:focus, &:active {
                outline: 0;
            }

            z-index:1;
        }

        a.flex-next {
            background-image: url('../images/right-arrow.png');
            @media (min-width: $large-min) {
                right: 0px !important;
            }
            text-indent: 5500px;
        }

        a.flex-prev {
            background-image: url('../images/left-arrow.png');
            @media (min-width: $large-min) {
                left: 0px !important;
            }
            text-indent: -4500px;
        }
    }

    #carousel {
        background: none;
        border: 0px;
        
        width: 160px;
        margin: 0 auto;
        overflow: visible;
    
        .slides {
            
            li {

                .inner {
                    padding-left: 8px;
                    padding-right: 8px;
                    .bg {
                        background-color: white;
                        position: relative;
                    }
                }

                img {
                    max-width: 100%;
                }

                &.flex-active-slide {
                    position: relative;
                    .bg {
                        border-top: 3px solid  #0e6dd4;
                    }
                }
            }
        }
    }

    #slider {

        background: none;
        @media (min-width: $large-min) {
            width: 760px;
        }
        margin: 0 auto;

        border: 0px;


        .flex-viewport {
            overflow: visible !important;
        }

        .slides > li {
            background: transparent;
            -webkit-backface-visibility: visible;
            backface-visibility: visible;

            @media (min-width: $large-min) {
                min-height: 460px;
            }   
            .inner-slide {
                padding-left: 48px;
                padding-right: 48px;
                padding-top: 21px;
            }
            
            text-align: center;
    
            img {
                max-width: 100%;
                display: block;
                margin: 0 auto;
                width: auto;
            }

            iframe {
                align: center;
                margin: 0 auto;
                overflow:hidden;
                
                width: 1px;
                min-width: 100%;
                *width: 100%;

                height: 200px;
                @media (min-width: $large-min) {
                    width: 550px;
                    height: 400px;
                }
            }

            .gif img {
                width: 80%;
            }

            &.flex-active-slide {
                .inner-slide {
                    padding-left: 45px;
                    padding-right: 45px;
                    padding-top: 0px;
                }

                .bg {
                    min-height: 200px;
                    @media (min-width: $large-min) {
                        min-height: 415px;
                    }
                    -webkit-transition: all .5s; /* Safari */
                    transition: all .5s;
                }
                
            }
            .inner-slide {
                position: relative;
                -webkit-transition: padding .5s; /* Safari */
                    transition: padding .5s;
            }

            .bg {

                position: relative;
                z-index: 11;
                @media (min-width: $large-min) {
                    min-height: 372px;
                }
                padding-left: 43px;
                padding-right: 43px;

                padding-top: 21px;
                padding-bottom: 21px;

                -webkit-transition: all .5s; /* Safari */
                transition: all .5s;

                -webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.75);
                -moz-box-shadow:    0px 0px 8px 0px rgba(50, 50, 50, 0.75);
                box-shadow:         0px 0px 8px 0px rgba(50, 50, 50, 0.75);
                background-color: white;

                &.gif {
                    padding: 0;
                }
            }

        }
    }

    #slider-meta-wrapper {
        padding-left: 45px;
        padding-right: 45px;
        @media (min-width: $large-min) {
            width: 670px;
            padding-left: 0;
            padding-right: 0;
        }
        margin: 0 auto;
        padding-top: 11px;

        color: rgb(191, 184, 175);

        font-family: sans-serif;

        .options-button {
            float: right;
        }
    }

    #SI--Download-Button,
    #SI--Share-Button {
        &:hover {
            path {fill: rgb(0, 100, 210); }
        }
    }

    .svg {
        width: 18px;
        height: 18px;
    }

}