<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js ie ie-old lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js ie ie-old lt-ie9 lt-ie8 ie-7" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js ie ie-old lt-ie9 ie-8" lang=""> <![endif]-->
<!--[if IE 9]>         <html class="no-js ie ie-old ie-9" lang="">        <![endif]-->
<!--[if IE 10]>         <html class="no-js ie ie-old ie-10" lang="">        <![endif]-->
<!--[if gt IE 10]><!--> <html class="no-js" lang=""> <!--<![endif]-->

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
